@import url("https://fonts.googleapis.com/css2?family=Oleo+Script");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300");

html,
#root,
body {
	background-color: #fafafa !important;
}

body {
	padding-top: 80px !important;
}

a {
	color: black;
}

a:hover {
	color: black;
}

.navbar-logo {
	font-family: "Oleo Script";
	font-size: 30px;
	font-weight: normal;
	color: black;
}

.navbar-logo:hover {
	color: black;
}

#nav-menu {
	padding-left: 20%;
	padding-right: 20%;
	border-radius: 0px !important;
}

.post-header {
	font-size: 14px !important;
}

.post-subheader {
	font-size: 14px !important;
	font-weight: 700;
}

.post-icon-menu {
	margin: 0 !important ;
	border: none;
	padding: 5px 5px 0px 5px;
}

.post-content {
	font-size: 14px;
	padding-left: 5px;
}

.post-comment {
	width: 100%;
	border: 0px;
	border-top: 1px solid rgba(138, 138, 138, 0.15);
	border-radius: 0;
	padding: 9.5px 14px;
	outline: none;
	font-size: 14px;
	font-family: "Lato", "Helvetica Neue", "Arial", "Helvetica", "sans-serif";
	color: rgba(0, 0, 0, 0.68);
}

.post-comment-display {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	padding-left: 0px;
	padding-bottom: 5px;
}

.post-comment-content {
	padding-left: 14px !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.more-options:hover {
	background-color: white !important;
}

.ui.inverted.dimmer {
	background-color: transparent !important;
}

.detailed-post-image-column {
	padding-right: 0px !important;
}

.detailed-post-image-card {
	height: 100%;
	border-radius: 0px !important;
	background-color: #fafafa !important;
}

.detailed-post-image-content {
	padding-left: 0px !important;
	padding-right: 0px !important;
	align-items: center !important;
	display: flex !important;
}

.detailed-post-image {
	width: 100% !important;
	height: auto;
}

.detailed-post-text-column {
	padding-left: 0px !important;
}

#detailed-post-header {
	border: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 10px;
}

.detailed-comment-content {
	border-top: none !important;
	padding-top: 5px !important;
	padding-bottom: 0;
	padding-left: 16px;
	flex-grow: 1;
}

.detailed-comment-text {
	display: inline-flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 10px;
}

.detailed-comment-time {
	padding-left: 39px;
	font-size: 12px !important;
}

.detailed-post-details {
	padding-top: 5px !important;
	flex-grow: 0 !important;
	border-top: 0px !important;
}

.comment-profile-image {
	padding-right: 5px;
}

.comment-like-icon {
	position: absolute;
	right: 15px;
	cursor: pointer;
}

// .counter-card {
// 	text-align: center;
// 	margin: 20% 30% 5% 30%;
// }

// .add-card {
// 	margin: 0% 20% 0% 20%;
// }
