@import url("https://fonts.googleapis.com/css2?family=Oleo+Script");

html,
#root {
	background-color: #fafafa;
}

.navbar-logo {
	font-family: "Oleo Script";
	font-size: 30px;
	font-weight: normal;
}

.counter-card {
	text-align: center;
	margin: 20% 30% 5% 30%;
}

.add-card {
	margin: 0% 20% 0% 20%;
}
